---
layout: default
---

<section class="container">

<div id="post">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <p><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %d, %Y" }}</time></p>
    <p><a class="FlattrButton" href="http://johannilsson.com{{ page.url }}" title="{{ page.title }}" lang="en"></a></p>
</div>

<div id="disqus_thread"></div>

<p class="by"><a href="/">Johan Nilsson</a>
<br>
<a href="http://twitter.com/johanni"><i class="icon-twitter-sign"></i></a>
      <a href="http://github.com/johannilsson"><i class="icon-github-sign"></i></a>
      <a href="http://www.linkedin.com/in/johanjohan"><i class="icon-linkedin-sign"></i></a>
      <a href="https://plus.google.com/112898043205527989577/"><i class="icon-google-plus-sign"></i></a>
      <a href="http://markupartist.com"><i class="icon-sign-blank"></i></a>
      <a href="mailto:blog@markupartist.com"><i class="icon-envelope-alt"></i></a>
      </p>
</section>

<script type="text/javascript"> 
    (function() {
      var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&button=compact&uid=johannilsson&category=text';
      t.parentNode.insertBefore(s, t);
    })();
</script>

<script type="text/javascript">
    var disqus_shortname = 'johannilssonsblog'; // required: replace example with your forum shortname
    var disqus_url = 'http://johannilsson.com{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

